In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/Fast Delivery Agent Reviews.csv')

In [3]:
df

,Agent Name,Rating,Review Text,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,4.5,Purpose boy job cup decision girl now get job ...,58,Delhi,Essentials,Neutral,High,Yes,Out of Stock,4,Incorrect
1,Zepto,2.1,Prevent production able both the box school wa...,25,Lucknow,Grocery,Negative,Low,No,Out of Stock,2,Correct
2,JioMart,4.5,Family station listen agreement more kitchen l...,54,Ahmedabad,Essentials,Neutral,Low,No,Out of Stock,3,Correct
3,JioMart,2.6,World north people area everything enter beyon...,22,Chennai,Essentials,Neutral,Low,Yes,In Stock,1,Incorrect
4,Zepto,3.6,Hand way yourself tax whether sister anyone ef...,34,Pune,Pharmacy,Positive,High,No,In Stock,2,Incorrect
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Blinkit,2.4,Assume president far economic us discuss hand ...,56,Bangalore,Grocery,Neutral,High,No,In Stock,1,Correct
4996,JioMart,3.2,Chance new edge beyond pass treat laugh woman ...,45,Hyderabad,Grocery,Negative,Low,Yes,In Stock,2,Incorrect
4997,Zepto,4.7,Until few population choose value behavior win...,48,Pune,Pharmacy,Positive,High,No,In Stock,5,Incorrect
4998,JioMart,3.8,Fight where recently half enter information ki...,11,Bangalore,Food,Negative,High,Yes,Out of Stock,1,Correct
4999,JioMart,4.5,Agreement challenge boy coach low person these...,15,Pune,Grocery,Neutral,High,No,Out of Stock,1,Correct

In [4]:
df.nunique()

Agent Name                    4
Rating                       41
Review Text                5000
Delivery Time (min)          51
Location                     10
Order Type                    5
Customer Feedback Type        3
Price Range                   3
Discount Applied              2
Product Availability          2
Customer Service Rating       5
Order Accuracy                2
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Agent Name               5000 non-null   object
 1   Rating                   5000 non-null   float64
 2   Review Text              5000 non-null   object
 3   Delivery Time (min)      5000 non-null   int64
 4   Location                 5000 non-null   object
 5   Order Type               5000 non-null   object
 6   Customer Feedback Type   5000 non-null   object
 7   Price Range              5000 non-null   object
 8   Discount Applied         5000 non-null   object
 9   Product Availability     5000 non-null   object
 10  Customer Service Rating  5000 non-null   int64
 11  Order Accuracy           5000 non-null   object
dtypes: float64(1), int64(2), object(9)
memory usage: 468.9+ KB

In [6]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in ['Agent Name', 'Location', 'Order Type','Customer Feedback Type','Price Range','Discount Applied','Product Availability','Order Accuracy']:
    df[col] = le.fit_transform(df[col].astype(str))

In [7]:
df.drop('Review Text', axis=1, inplace=True)

In [8]:
df

,Agent Name,Rating,Delivery Time (min),Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,3,4.5,58,3,1,1,0,1,1,4,1
1,3,2.1,25,7,3,0,1,0,1,2,0
2,1,4.5,54,0,1,1,1,0,1,3,0
3,1,2.6,22,2,1,1,1,1,0,1,1
4,3,3.6,34,9,4,2,0,0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
4995,0,2.4,56,1,3,1,0,0,0,1,0
4996,1,3.2,45,4,3,0,1,1,0,2,1
4997,3,4.7,48,9,4,2,0,0,0,5,1
4998,1,3.8,11,1,2,0,0,1,1,1,0
4999,1,4.5,15,9,3,1,0,0,1,1,0

In [9]:
df['Rating'].mean()
# overall average rating of delivery agents

np.float64(3.0029)

In [10]:
df['Delivery Time (min)'].mean()
# average delivery time

np.float64(34.9624)

In [11]:
df['Location'].value_counts().head(5)
# top 5 most common locations for deliveries

Location
6    517
0    515
9    515
3    514
1    513
Name: count, dtype: int64

In [12]:
df['Order Type'].value_counts()
# How many orders were of each type?

Order Type
0    1008
2    1003
1    1001
3     995
4     993
Name: count, dtype: int64

In [13]:
df['Customer Service Rating'].value_counts().sort_index()
# distribution of customer service ratings

Customer Service Rating
1    1030
2    1001
3     998
4    1021
5     950
Name: count, dtype: int64

In [14]:
(df['Discount Applied'].value_counts(normalize=True) * 100)
# What percentage of orders had discounts applied?

Discount Applied
1    50.74
0    49.26
Name: proportion, dtype: float64

In [15]:
df.groupby('Order Type')['Delivery Time (min)'].mean()
# average delivery time per order type

Order Type
0    35.270833
1    35.287712
2    34.684945
3    35.283417
4    34.279960
Name: Delivery Time (min), dtype: float64

In [16]:
df.groupby('Location')['Rating'].mean()
# average rating for agents in each location

Location
0    3.041359
1    3.010136
2    2.995397
3    2.999222
4    3.009184
5    2.973211
6    3.014120
7    3.014650
8    2.960843
9    3.008738
Name: Rating, dtype: float64

In [17]:
df.groupby('Product Availability')['Rating'].mean()
# does product availability affect average rating

Product Availability
0    2.996996
1    3.008789
Name: Rating, dtype: float64

In [18]:
df.groupby('Price Range')['Customer Service Rating'].mean().sort_values(ascending=False)
# Which price range has the highest average customer service rating?

Price Range
1    2.985714
2    2.972906
0    2.957547
Name: Customer Service Rating, dtype: float64

In [19]:
# Prepare the data
average_rating = df['Rating'].mean()
average_delivery_time = df['Delivery Time (min)'].mean()
top_locations = df['Location'].value_counts().head(5)
order_types = df['Order Type'].value_counts()
csr_distribution = df['Customer Service Rating'].value_counts().sort_index()
discount_percentage = df['Discount Applied'].value_counts(normalize=True) * 100
delivery_time_by_type = df.groupby('Order Type')['Delivery Time (min)'].mean()
rating_by_location = df.groupby('Location')['Rating'].mean()
rating_by_availability = df.groupby('Product Availability')['Rating'].mean()
csr_by_price_range = df.groupby('Price Range')['Customer Service Rating'].mean().sort_values(ascending=False)

# Print results
print("Average Rating:", average_rating)
print("Average Delivery Time:", average_delivery_time)
print("Top Locations:\n", top_locations)
print("Order Types:\n", order_types)
print("Customer Service Rating Distribution:\n", csr_distribution)
print("Discount Applied (%):\n", discount_percentage)
print("Avg Delivery Time by Order Type:\n", delivery_time_by_type)
print("Avg Rating by Location:\n", rating_by_location)
print("Avg Rating by Product Availability:\n", rating_by_availability)
print("Customer Service Rating by Price Range:\n", csr_by_price_range)

Average Rating: 3.0029
Average Delivery Time: 34.9624
Top Locations:
 Location
6    517
0    515
9    515
3    514
1    513
Name: count, dtype: int64
Order Types:
 Order Type
0    1008
2    1003
1    1001
3     995
4     993
Name: count, dtype: int64
Customer Service Rating Distribution:
 Customer Service Rating
1    1030
2    1001
3     998
4    1021
5     950
Name: count, dtype: int64
Discount Applied (%):
 Discount Applied
1    50.74
0    49.26
Name: proportion, dtype: float64
Avg Delivery Time by Order Type:
 Order Type
0    35.270833
1    35.287712
2    34.684945
3    35.283417
4    34.279960
Name: Delivery Time (min), dtype: float64
Avg Rating by Location:
 Location
0    3.041359
1    3.010136
2    2.995397
3    2.999222
4    3.009184
5    2.973211
6    3.014120
7    3.014650
8    2.960843
9    3.008738
Name: Rating, dtype: float64
Avg Rating by Product Availability:
 Product Availability
0    2.996996
1    3.008789
Name: Rating, dtype: float64
Customer Service Rating by Price Range:
 Price Range
1    2.985714
2    2.972906
0    2.957547
Name: Customer Service Rating, dtype: float64